@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.user-input textarea {
  border: none;
  background-color: #f8f8f8;
  width: 100%;
  height: 100%;
  resize: none;
  padding: 12px 20px;
  box-sizing: border-box;
}

.user-input  {
  width: 80%;
  height: 300px;
  margin: 0 0 20px 0;
  padding: 10px;
}

.display-prompt{
  width: 80%;
  display: flex;
  justify-content: center;
 
}
